{% extends "base_layout.html" %}

{% block title %}Desenho de Circunferências{% endblock %}

{% block content %}
    <h2>4-Circunferências</h2>
    <div class="controls-container">
        
        <div class="controls">
            <div class="control-group">
                <label>Centro (xc, yc):</label>
                <input type="number" id="circle-xc" value="0">
                <input type="number" id="circle-yc" value="0">
            </div>
            <div class="control-group">
                <label>Raio (r):</label>
                <input type="number" id="circle-r" value="150">
            </div>
            <div class="control-group">
                <label>Algoritmo:</label>
                <select id="circle-algo">
                    <option value="Bresenham" selected>Ponto Médio (Bresenham)</option>
                </select>
            </div>
            <button id="draw-circle-btn">Desenhar Círculo</button>
        </div>

        <canvas id="canvas-circ" width="500" height="500"></canvas>

        <div class="info-panel">
            <div class="control-group">
                <h4>Informações da Circunferência</h4>
                <label>Pontos Gerados (x, y):</label>
                <textarea id="circ-points-info" class="info-box" readonly>Nenhuma circunferência gerada.</textarea>
                <button id="clear-btn">Limpar</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}<script src="{{ url_for('mod_4_circunferencia.static', filename='circ_script.js') }}"></script>{% endblock %}   