{% extends "base_layout.html" %}
{% block title %}Sistemas de Coordenadas{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/sc_style.css') }}">{% endblock %}
{% block content %}
    <div class="sc-container">
        <div class="sidebar-sc" id="left-bar">
            <h3>Coordenadas em Tempo Real</h3><hr><p id="live-coords">Mova o mouse sobre o canvas.</p>
            <div id="input-div-left">
                <div><label for="input-xmax">Xmax:</label><input type="number" id="input-xmax" value="100.3"></div>
                <div><label for="input-xmin">Xmin:</label><input type="number" id="input-xmin" value="10.5"></div>
                <div><label for="input-ymax">Ymax:</label><input type="number" id="input-ymax" value="100.4"></div>
                <div><label for="input-ymin">Ymin:</label><input type="number" id="input-ymin" value="15.2"></div>
                <button id="set-coordinates-btn">Definir Valores</button>
            </div>
        </div>
        <div class="main-sc">
            <div id="bounds-info"><p><strong>Xmax:</strong> <span id="xmax"></span> | <strong>Xmin:</strong> <span id="xmin"></span> | <strong>Ymax:</strong> <span id="ymax"></span> | <strong>Ymin:</strong> <span id="ymin"></span></p></div>
            <canvas id="canvas" width="600" height="400"></canvas>
        </div>
        <div class="sidebar-sc" id="right-bar">
            <h3>Coordenadas do Pixel Ativado</h3><hr><p id="clicked-coords">Nenhum pixel selecionado</p>
            <div id="input-div-right">
                <div><label for="input-x">X:</label><input type="number" id="input-x"></div>
                <div><label for="input-y">Y:</label><input type="number" id="input-y"></div>
                <button id="set-world-btn">Ativar Pixel</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}<script src="{{ url_for('mod_2_coordenadas.static', filename='sc_script.js') }}"></script>{% endblock %}